.aur-cloud_details {
    background-color: #f0f2f3;
    max-width: 1410px;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

    &__stats {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 55px 0px 45px 0;

        h2 {
            font-size: 40px;
            line-height: 40px;
            color: #015f74;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 10px;

            .stat {
                font-size: 64px;
                line-height: 64px;
                font-weight: bold;
                color: #ee3135;
                display: block;
            }
        }

        p {
            font-size: 17px;
            line-height: 21px;
            color: #015f74;
            font-weight: 400;
        }
    }

    &__wrap {
        width: 33.3%;
        padding: 0 50px;
        border-right: 1px solid #b4b5b6;

        &:last-child {
            border-right: none;
        }
    }

    &__img {
        width: 40%;

        img {
            width: 100%;
        }
    }
}

.section {
    background: #f0f2f3;
}


@include tablet-pro {
    .aur-cloud_details {
        flex-direction: column;
        &__stats {
            padding: 55px 0 40px 0;
        }

        &__img {
            width: 40%;
        }
    }
}

@include tablet {
    .aur-cloud_details {
        flex-direction: column;

        &__stats {
            padding: 55px 0 40px 0;
        }

        &__wrap {
            width: 100%;
            padding: 0;
            text-align: center;
            border: none;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__img {
            width: 50%;
            padding-bottom: 20px;
        }
    }
}

@include mobile {
    .aur-cloud_details {
        flex-direction: column;

        &__stats {
            padding: 55px 0 40px 0;
        }

        &__wrap {
            width: 100%;
            padding: 0;
            text-align: center;
            border: none;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__img {
            width: 85%;
            padding-bottom: 20px;
        }
    }
}