.aur-btn {
    width: 50%;
    max-width: 180px;
    margin-right: 16px;

    &__txt {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        padding: 12px 8px;
        text-align: center;
        text-decoration: none;
        background-color: #ee3135;
        border-radius: 2px;
        transition: 0.5s;
        border: 1px solid #ee3135;
        
        &:hover {
            color: #ee3135;
            background-color: #fff;
            border: 1px solid #ee3135;
            transition: 0.25s ease;
        }

        &--wht{
            color: #053445;
            background-color: #fff;
            border: 1px solid #053445;
            margin-right: 0;

            &:hover {
                color: #fff;
                background-color: #053445;
                border: 1px solid #fff;
                transition: 0.25s ease;
            }
        }
    }
}

.aur-arrowbtn {
    margin-left: 20px;
    width: 100%;
    max-width: 180px;
    

    &__txt {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: #015f74;
        padding: 12px 8px;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        border-radius: 2px;
        transition: 0.5s;
        border: 1px solid #015f74;

        &:hover {
            color: #fff;
            background-color: #015f74;
        }

        &::after {
            font-family: "Font Awesome 5 Pro";
            content: "\f105";
            margin-left: 15px;
            font-weight: normal;
        }
    }
}

@include mobile {
    .aur-btn {
        width: 100%;
        max-width: 240px;
        margin-right: 0;
        margin-bottom: 15px;
    }
}